.header-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 17px;
}

.header-logo-txt {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

.clickAndCollectTxt {
    display: flex;
    align-items: center;
    gap: 7px;
}

.bag {
    width: 25px;
}

.authentication-buttons-container {
    display: flex;
    gap: 7px;
    justify-content: end;
    margin-top: 10px;
}